html,body {
	height:100%!important;
}

body {
	background-color: #fbfbfb!important;
}

.container {
	background-color: #fbfbfb!important;
	position: absolute;
	width: 100%;
	height: 98%!important;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0.6em!important;
}

#navbar_div {
	position: absolute;
	width: 100%!important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	left: 0;
	right: 0;
}

.graph-container {
	position: relative;
	top: 6em!important;
	height: 87%!important;
	width: 100%!important;
	bottom: 0!important;
	overflow: hidden!important;
}

#d3_chart {
	max-height: 100%!important;
	height: 100%!important;
	width: 99%!important;
}

* {
	font-family: 'Lato', sans-serif;
}

#legs_form label {
	font-weight: 300!important;
}

h5,h6 {
	font-weight: bold!important;
}

.btn {
	background-color: #477bc3!important;
	border: none!important;
	outline: none!important;
}

.btn:hover {
	background-color: #00a86b!important;
}

/*remove button outline on click*/
*:focus {
    outline: 0 !important;
}

input[type="button"]::-moz-focus-inner {
   border: 0;
}

.stgy-info {
	text-align: center;
}

.c3-axis-x-label {
	visibility: hidden;
}

.c3-axis-y-label {
	visibility: hidden;
}

.c3-area {
	opacity:0.5!important;
}
