
body {
	background-color: #efefef!important;
}

.container {
	background-color: #f4f7f9!important;
	position: absolute;
	width: 95%!important;
	height: 97%!important;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: .35em!important;
	bottom: .55em!important;
}

#navbar_div {
	position: absolute;
	width: 100%!important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	left: 0;
	right: 0;
}

.graph-container {
	position: relative;
	top: 6em;
	height: 87%!important;
	width: 100%!important;
}

#d3_chart {
	height: 100%!important;
	width: 99%!important;
}

* {
	font-family: 'Lato', sans-serif;
}

label {
	font-weight: bold!important;
}

h5,h6 {
	font-weight: bold!important;
}

.btn {
	background-color: #477bc3!important;
	border: none!important;
	outline: none!important;
}

.btn:hover {
	background-color: #00a86b!important;
}
/*#474444*/

/*remove button outline on click*/
*:focus {
    outline: 0 !important;
}

input[type="button"]::-moz-focus-inner {
   border: 0;
}

.stgy-info {
	text-align: center;
}

.c3-axis-x-label {
	visibility: hidden;
}

.c3-axis-y-label {
	visibility: hidden;
}

.c3-area {
	opacity:0.33!important;
}
