#browser_message_container {
	position: absolute;
	height: 7em;
	width: 50%;
	margin: auto auto auto auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	color: #313131;
	background-color: #d7d7d7;
	font-family: 'Lato', sans-serif;
}