.navbar {
  background-color:#f7f7f7;
  border-left: 0;
  border-right: 0;
  /*border-top: 1px solid rgba(200, 200, 200, .30);*/
  border-top: 0;
  border-bottom: 1px solid rgba(200, 200, 200, .20);
}

.nav_button {
	color: #313131!important;
	background-color:#f7f7f7!important;
	font-size: .92em;
}

.nav_button:hover, .nav_button:focus, .nav_button:active, #graph_btn:hover, .graph_btn:focus {
	background-color: #477bc3!important;
	color: white!important;
}

#graph_btn {
	color: #313131!important;
	background-color:#f7f7f7!important;
}

#logo_btn {
	color: #00a86b;
	font-family: 'Lato', sans-serif!important;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 1.35em;
}

#logo_btn:hover {
	text-decoration: underline;
}

#template-menu {
	width: 22em!important;
	height: 30em!important;
}

.dropdown-menu {
	overflow: hidden;
	overflow-y: auto;
}

.navbar-toggle {
	margin-bottom: .25em!important;
	margin-top: .25em!important;
}

.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}




