.navbar {
  background-color:#f8f8f8;
  border-left: 0;
  border-right: 0;
  /*border-top: 1px solid rgba(200, 200, 200, .30);*/
  border-top: 0;
  border-bottom: 1px solid rgba(200, 200, 200, .20);
}

.nav_button {
 	color: #313131!important;
 	background-color:#f8f8f8!important;
 	font-size: .92em;
}

.nav_button:hover{
	color: white!important;
	background-color: #477bc3!important;
}

.nav_button:focus{
	color: white!important;
	background-color:#477bc3!important;
}

#graph_btn {
	color: #313131!important;
 	background-color:#f8f8f8!important;
}

#graph_btn:hover{
	color: white!important;
	background-color:#477bc3!important;
}

#logo_btn {
	color: #313131;
	font-family: 'Josefin Sans', 'Lato', sans-serif!important;
	font-size: 2em;
	font-weight: bold;
}

#logo_btn:hover {
	text-decoration: underline;
}

#template-menu {
    width: 22em!important;
    height: 30em!important;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
}

.navbar-toggle {
	margin-bottom: .25em!important;
	margin-top: .25em!important;
}




