.navbar {
  background-color:#e3e3e3;
  border: 0em;
}

.nav_button {
 	color: #313131!important;
 	background-color:#e3e3e3!important;
 	font-size: .92em;
}

.nav_button:hover{
	color: white!important;
	background-color: #477bc3!important;
}

.nav_button:focus{
	color: white!important;
	background-color:#477bc3!important;
}

#github {
	position: absolute;
	right: -1.5em;
	top: .75em;
}

#gsvg {
	height: 2em;
}

#gsvg > #octocat {
	fill: #494949!important;
}

#gsvg > #octocat:hover{
	fill: #477bc3!important;
}

#graph_btn {
	color: #313131!important;
 	background-color:#e3e3e3!important;
}

#graph_btn:hover{
	color: white!important;
	background-color:#477bc3!important;
}

#logo_btn {
	color: #313131;
	font-family: 'Josefin Sans', 'Lato', sans-serif!important;
	font-size: 2em;
	font-weight: bold;
}

#logo_btn:hover {
	text-decoration: underline;
}

#template-menu {
    width: 22em!important;
    height: 30em!important;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
}




