#project_info_modal .modal-dialog {
	width: 30%;
}

#jadelizard {
	font-family: 'Josefin Sans';
	color: #477bc3;
}

#repo_link{
	color: black!important;
	text-decoration: underline;
}

#repo_link:hover{
	color: #477bc3!important;
}

.project-info * {
	text-align: center;
}
