
<div id="empty_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body alert-warning">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      	<h4><strong>Empty Strategy</strong></h4>
        <p>Add options to your strategy before graphing.</p>
      </div>
    </div>
  </div>
</div>


<div id="no_strategy_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body alert-warning">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      	<h4><strong>No Strategy</strong></h4>
        <p>Create a strategy before graphing.</p>
      </div>
    </div>
  </div>
</div>

<div id="max_legs_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body alert-warning">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      	<h4><strong>Maximum Strategy Size Reached</strong></h4>
        <p>A strategy can contain up to six legs.</p>
      </div>
    </div>
  </div>
</div>

