
<div class="modal fade" id="r_modal" tabindex="-1" role="dialog" 
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title" id="myModalLabel">
                Current Risk-Free Rate (90-Day Treasury)
            </h5>
        </div>
        
        <div class="modal-body">
          <p id="r_loading">
            Loading...
          </p>
          <div id="r_result">
          </div>
        </div>
            
            <div class="modal-footer">
                <button id="r_hide" class="btn btn-danger">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


{% verbatim %}
<script id="r_result_script" type="mustache/template">
        <div id="r_result_div" class="panel panel-default">
          <div class="panel-body">
            <p id="rate">
              <strong>Daily: </strong>{{daily}}<br>
              <strong>Monthly: </strong>{{monthly}}
            </p>
          </div>
        </div>
</script>
{% endverbatim %}


