{% verbatim %}
	<script id="_nav" type="mustache/template">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><p>jadelizard</p></a>
				</div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Strategy
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">New Strategy</a></li>
								<li><a href="#">Legs</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Volatility Calculator</a></li>
								<li><a href="#">Date Calculator</a></li>
								<li><a href="#">Get Risk-Free Rate</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Templates
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Call</a></li>
								<li><a href="#">Put</a></li>
								<li><a href="#">Straddle</a></li>
								<li><a href="#">Strangle</a></li>
								<li><a href="#">Iron Butterfly</a></li>
								<li><a href="#">Long Combination</a></li>
								<li><a href="#">Double Diagonal</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Price Model Settings</a></li>
								<li><a href="#">Optimization</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Graph
							<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
						</li>
					</ul>
			</div>
		</nav>

	</script>
{% endverbatim %}