{% verbatim %}
	<script id="_nav" type="mustache/template">

		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">

				<a id="logo_btn" class="navbar-brand" href="#"><p>jadelizard</p></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle nav_button" data-toggle="dropdown" href="#">Strategy
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a id="stgy_btn" href="#">New Strategy</a></li>
								<li><a id="legs_btn" data-toggle="modal" data-target="#legs_modal" href="#">Manage Legs</a></li>
								<li><a id="data_btn" data-toggle="modal" data-target="#data_modal" href="#">Strategy Info</a></li>
								<li><a id="clear_btn" href="#">Clear</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle nav_button" data-toggle="dropdown" href="#">Tools
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a id="vol_btn" data-toggle="modal" data-target="#vol_modal" href="#">Volatility Calculator</a></li>
								<li><a id="r_btn" data-toggle="modal" data-target="#r_modal" href="#">Get Risk-Free Rate</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle nav_button" data-toggle="dropdown" href="#">Settings
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a id="model_btn" href="#">Pricing Model</a></li>
								<li><a id="range_btn" href="#">Window</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle nav_button" data-toggle="dropdown" href="#">Load Template
							<span class="caret"></span></a>
							<ul class="dropdown-menu scrollable-menu" id="template-menu" role="menu">

								<li class="dropdown-header">Strategies Involving a Stock Position</li>
								<li><a class="template_btn" id="CoveredCall" href="#">Covered Call</a></li>	
								<li><a class="template_btn" id="MarriedPut" href="#">Married Put</a></li>
								<li><a class="template_btn" id="Collar" href="#">Collar</a></li>	
								<li class="divider"></li>
								<li class="dropdown-header">Bullish</li>
								<li><a class="template_btn" id="LongCall" href="#">Long Call</a></li>	
								<li><a class="template_btn" id="LongCallSpread" href="#">Long Call Spread</a></li>
								<li><a class="template_btn" id="ShortPutSpread" href="#">Short Put Spread</a></li>
								<li><a class="template_btn" id="LongCombination" href="#">Long Combination</a></li>
								<li><a class="template_btn" id="BackSpreadCalls" href="#">Back Spread with Calls</a></li>
								<li><a class="template_btn" id="FrontSpreadCalls" href="#">Front Spread with Calls</a></li>
								<li><a class="template_btn" id="BigLizard" href="#">Big Lizard</a></li>
								<li><a class="template_btn" id="JadeLizard" href="#">Jade Lizard</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Bearish</li>
								<li><a class="template_btn" id="LongPut" href="#">Long Put</a></li>	
								<li><a class="template_btn" id="LongPutSpread" href="#">Long Put Spread</a></li>
								<li><a class="template_btn" id="ShortCallSpread" href="#">Short Call Spread</a></li>
								<li><a class="template_btn" id="ShortCombination" href="#">Short Combination</a></li>
								<li><a class="template_btn" id="BackSpreadPuts" href="#">Back Spread with Puts</a></li>
								<li><a class="template_btn" id="FrontSpreadPuts" href="#">Front Spread with Puts</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Non-Directional: Low Volatility</li>
								<li><a class="template_btn" id="ShortStraddle" href="#">Short Straddle</a></li>
								<li><a class="template_btn" id="ShortStrangle" href="#">Short Strangle</a></li>
								<li><a class="template_btn" id="LongCalendarSpreadCalls" href="#">Long Calendar Spread with Calls</a></li>
								<li><a class="template_btn" id="LongCalendarSpreadPuts" href="#">Long Calendar Spread with Puts</a></li>
								<li><a class="template_btn" id="DoubleDiagonal" href="#">Double Diagonal</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Condor</li>
								<li><a class="template_btn" id="LongCondorCalls" href="#">Long  Condor Spread with Calls</a></li>
								<li><a class="template_btn" id="LongCondorPuts" href="#">Long Condor Spread with Puts</a></li>
								<li><a class="template_btn" id="IronCondor" href="#">Iron Condor</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Butterfly</li>
								<li><a class="template_btn" id="LongButterflyCalls" href="#">Long Butterfy Spread with Calls</a></li>
								<li><a class="template_btn" id="LongButterflyPuts" href="#">Long Butterfly Spread with Puts</a></li>
								<li><a class="template_btn" id="IronButterfly" href="#">Iron Butterfly</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Non-Directional: High Volatility</li>
								<li><a class="template_btn" id="LongStraddle" href="#">Long Straddle</a></li>
								<li><a class="template_btn" id="LongStrangle" href="#">Long Strangle</a></li>

							</ul>
						</li>
						<li>
							<a id="graph_btn" href="#">Graph
							<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</script>
{% endverbatim %}
