{% verbatim %}
	<script id="_nav" type="mustache/template">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">

			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
					<a class="navbar-brand" style="color: white" href="#"><p>jadelizard</p></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Strategy
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">New Strategy</a></li>
								<li><a href="#">Legs</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Volatility Calculator</a></li>
								<li><a href="#">Date Calculator</a></li>
								<li><a href="#">Get Risk-Free Rate</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Templates
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Call</a></li>
								<li><a href="#">Put</a></li>
								<li><a href="#">Straddle</a></li>
								<li><a href="#">Strangle</a></li>
								<li><a href="#">Iron Butterfly</a></li>
								<li><a href="#">Long Combination</a></li>
								<li><a href="#">Double Diagonal</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Price Model</a></li>
								<li><a href="#">Window</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Graph
							<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</script>
{% endverbatim %}
