
<div class="modal fade" id="project_info_modal" tabindex="-1" role="dialog" 
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" 
           data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
        </button>
        <br>
        <div class="col-sm-1"></div>
        <div class="row">
          <div class="col-sm-9 well project-info">

            <h1><strong id="jadelizard">jadelizard</strong></h1>
            <h5><strong>Created by Brendan Burns</strong></h5>
            <h5><a id="repo_link" href="https://github.com/bburns223/jadelizard" target="_blank">GitHub Repository</a></h5>

          </div>
        </div>
      </div>
      
        </div>
    </div>
</div>

