<script id="range_hidden_fields" type="mustache/template">
  <div id="range_fields_template">

    <div class="col-sm-5">                
    <h5>Start</h5>
      <div class="input-group">
        <div class="input-group-addon">$</div>
          <input form="range_form" name="range_start" id="range-input-start" class="form-control field-input range-input" autocomplete="off"/>
      </div>
    </div>

    <div class="col-sm-5">
      <h5>End</h5>
      <div class="input-group">
        <div class="input-group-addon">$</div>
          <input form="range_form" name="range_end" id="range-input-end" class="form-control field-input range-input" autocomplete="off"/>
      </div>
    </div>


  </div>
</script>

