
{% verbatim %}
<script type="mustache/template" id="strategy_info_script">

	<ul class="list-group">
	    <li class="list-group-item">
	      <table class="table table-hover">
	        <thead>
      		  <tr>
                <th class="col-sm-2 stgy-info"><i>S0</i></th>
                <th class="col-sm-2 stgy-info"><i>&sigma;</i></th>
                <th class="col-sm-2 stgy-info"><i>q</i></th>
                <th class="col-sm-2 stgy-info"><i>r</i></th>
                <th class="col-sm-4 stgy-info">Pricing Model</th>
              </tr>
            </thead>
	      	<tbody>
		        <tr class="active">
					<td class="col-sm-2 stgy-info">${{S0}}</td>
					<td class="col-sm-2 stgy-info">{{sigma}}</td>
					<td class="col-sm-2 stgy-info">{{q}}</td>
					<td class="col-sm-2 stgy-info">{{r}}</td>
					<td class="col-sm-4 stgy-info">{{model}}</td>
				</tr>
			</tbody>
		  </table>
	    </li>
	</ul>

</script>
{% endverbatim %}