
<div id="data_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
    		<h5>Strategy Greeks and Setup Cost</h5>
    	</div>

    	<div id="data_div" class="modal-body">
		</div>

	</div>
  </div>
</div>



