{% verbatim %}

<script id="_strategy_data" type="mustache/template">

	<table class="table">
		<tr>
			<td><span class="label label-default">Strategy Cost</span></td>
			<td><span class="label label-primary">Delta</span></td>
			<td><span class="label label-primary">Gamma</span></td>
			<td><span class="label label-primary">Theta</span></td>
			<td><span class="label label-primary">Rho</span></td>
			<td><span class="label label-primary">Vega</span></td>

		</tr>

	</table>




</script>
{% endverbatim %}

