
<div class="modal fade" id="stgy_modal" tabindex="-1" role="dialog" 
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title" id="myModalLabel">
                New Options Strategy 
            </h5>
            <h6>
            	Set values for the underlying instrument.<br>
            	All fields are required.
            </h6>
        </div>
        
        <div class="modal-body">
            
            <form id= "stgy_form" class="form-horizontal" role="form">
              <div class="form-group">
                <label  class="col-sm-2 control-label"><i>S0</i></label>
                <div class="col-sm-8">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input name="S0" id="stgy-input-S0" class="form-control field-input stgy-input" placeholder="Price of Underlying Instrument" autocomplete="off"/>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><i>&sigma;</i></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input name="sigma" id="stgy-input-sigma" class="form-control field-input stgy-input" placeholder="Volatility of Underlying Instrument" autocomplete="off"/>
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><i>q</i></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input name="q" id="stgy-input-q" class="form-control field-input stgy-input" placeholder="Continuously Compounded Dividend Yield" autocomplete="off"/>
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><i>r</i></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input name="r" id="stgy-input-r" class="form-control field-input stgy-input" placeholder="Risk-Free Rate of Return" autocomplete="off"/>
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
              </div>
            </form>

        </div>
            
            <div class="modal-footer">
                <button type="submit" form="stgy_form" class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

