
{% verbatim %}
<script type="mustache/template" id="strategy_info_script">

	<ul class="list-group">
	    <li class="list-group-item">
	      <table class="table table-hover">
	        <thead>
      		  <tr>
                <th class="col-sm-3"><i>S0</i></th>
                <th class="col-sm-3"><i>&sigma;</i></th>
                <th class="col-sm-3"><i>q</i></th>
                <th class="col-sm-3"><i>r</i></th>
              </tr>
            </thead>
	      	<tbody>
		        <tr class="active">
					<td class="col-sm-3">${{S0}}</td>
					<td class="col-sm-3">{{sigma}}</td>
					<td class="col-sm-3">{{q}}</td>
					<td class="col-sm-3">{{r}}</td>
				</tr>
			</tbody>
		  </table>
	    </li>
	</ul>

</script>
{% endverbatim %}