{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>jadelizard.io</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'c3/c3.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'options/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'options/css/nav.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'options/css/legs_form.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:700,700italic,400' rel='stylesheet' type='text/css'>
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" 
		crossorigin="anonymous"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script defer src="{% static 'd3/d3.min.js' %}"></script>
		<script defer src="{% static 'c3/c3.min.js' %}"></script>
		<script defer src="{% static 'options/js/chart.js' %}"></script>
		<script defer src="{% static 'options/js/main.js' %}"></script>
	</head>
	<body>

		<div class="container">

			<div id="navbar_div" class="navbar navbar-static-top">
			</div>

			<div class="row graph-container">		
				<div id="d3_chart"></div>
			</div> 

		</div>

		{% include "options/_nav.html"%}
		{% include "options/_strategy_form.html" %}
		{% include "options/_strategy_update_form.html" %}
		{% include "options/_stgy_update_form_script.html" %}
		{% include "options/_legs_form.html" %}
		{% include "options/_legs_form_script.html" %}
		{% include "options/_legs_manage_script.html" %}
		{% include "options/_update_leg_script.html" %}
		{% include "options/_strategy_info_script.html" %}
		{% include "options/_alerts.html" %}
		{% include "options/_strategy_data.html" %}
		{% include "options/_strategy_data_script.html" %}
		{% include "options/_pricing_model_form.html" %}
		{% include "options/_model_settings_form.html" %}
		{% include "options/_vol_form.html" %}
		{% include "options/_get_r.html" %}
		{% include "options/_range_form.html" %}
		{% include "options/_range_form_script.html" %}
		{% include "options/_conn_error_script.html" %}

	</body>
</html>
